dconf
go
ibus
mimeapps.list
pulse
user-dirs.dirs
vesktop
glib-2.0
gtk-3.0
pavucontrol.ini
simple-update-notifier
user-dirs.locale
yay
Code - OSS/
GIMP
QtProject.conf
dolphinrc
kde.org
neofetch
session
spotify
trashrc
