dconf
go
ibus
pulse
vesktop
glib-2.0
gtk-3.0
pavucontrol.ini
simple-update-notifier
user-dirs.locale
yay
Code - OSS/
GIMP
QtProject.conf
dolphinrc
kde.org
neofetch
session
spotify
trashrc
Proton/
bat/
htop/
lutris-web-runner-electron/
mirage/
neocities/
obs-studio/
openrazer/
polychromatic/
qBittorrent/
unity3d/
vlc/
Pinta/
autostart
.mozilla
ckb-next
gochromecast
Google/
Android Open Source Project/
Proton Mail/
Typora/
calire/
mgba/
netlify/
retroarch/
calibre/
mozilla/
kritadisplayrc/
kritarc/
