@import url("file:///home/melo/.config/common/colors.css");

* {
    font-family: Agave, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}


#window
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > * > .module {
    padding: 3px 10px 0px 10px;
    text-shadow: 1px 1px @bg-blue;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}



@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#custom-media {
    background-color: @color-c;
    color: @color-c-text;
}

#pulseaudio {
    background-color: @color-a;
    color: @color-a-text;
}

#pulseaudio:hover {
    background-color: @color-a-hover;
}

#clock {
    background-color: @color-b;
    color: @color-b-text;
}

