@import url("file:///home/melo/.cache/wal/colors-waybar.css");

* {
    font-family: Agave, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: alpha(@background, 0.7);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @color-10;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #666666;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: @color10;
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.hosting-monitor {
    color: #ffffff;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}


#window
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > * > .module {
    padding: 3px 10px 0px 10px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}



@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#custom-media {
    background-color: alpha(@color5, 0.7);
    color: @color0;
}

#pulseaudio {
    background-color: alpha(@color1, .7);
    color: @color0;
}

#pulseaudio:hover {
    background-color: alpha(@color9, .7);
}

#clock {
    background-color: alpha(@color3, .7);
    color: @color0;
}

